<section>
  <ul class="memo-list">
    <% @memos.each do |id, content| %>
      <li class="memo-item"><a href="/memos/<%= id %>" class="memo-item__link"><%= content[:title] %></a></li>
    <% end %>
  </ul>
</section>
